
.parent{
    width:500px;
    height:250px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}
.child1{
    width:100px;
    height:100px;
    background-color: blue;
}
.child2{
    width:100px;
    height:100px;
    background-color: blueviolet;
}
.child3{
    width:100px;
    height:100px;
    background-color: green;
}
.child4{
    width:100px;
    height:100px;
    background-color: purple;
}
.child5{
    width:100px;
    height:100px;
    background-color: plum;
}